---

- name: Add docker.io apt-key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
    dest: /etc/apt/trusted.gpg.d/docker.asc
    mode: '0644'
  become: true

- name: Add docker.io repository
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable
    state: present
  become: true

- name: Install docker-ce
  ansible.builtin.apt:
    name:
      - docker-ce{{ dockerd_apt_version | default('') }}
      - docker-ce-cli{{ dockerd_apt_version | default('') }}
      - containerd.io
    state: present
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: Add users to docker group
  ansible.builtin.user:
    name: '{{ item }}'
    groups: docker
    append: true
  with_items: '{{ dockerd_users }}'
  when: dockerd_users is defined
  become: true
